.get-app {
  $self: &;
  margin-top: 10px;
  background-image: url('/img/rings/ring-orange-2.svg');
  background-position: left bottom;
  background-repeat: no-repeat;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column-reverse;
      justify-content: flex-start;

      #{ $self }__description {
        flex-basis: auto;
        padding: 0 15px;
      }
    }
  }

  &__description {
    flex-basis: 430px;
  }

  &__title {
    position: relative;
    margin-bottom: 17px;

    &:before {
      z-index: -1;
      position: absolute;
      left: -17px;
      top: -7px;
      content: '';
      height: 44px;
      width: 47px;
      background: url('/img/dots/dots-red.svg');
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 20px;
    position: relative;
    height: 42px;
    border-radius: 34px;
    background-color: white;
    padding-right: 156px;
    filter: drop-shadow(0 3px 28px rgba(0, 0, 0, .04))
            drop-shadow(0px 0px 31px rgba(54, 54, 54, .04));

    & input {
      width: 100%;
      height: 100%;
      border: none;
      padding-left: 20px;
      right: 0;
      background-color: transparent;

      &::placeholder {
        color: rgba($text-color, .6);
      }
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 156px;
  }

  &__features {
    list-style: none;
    display: flex;

    &-item {
      position: relative;
      margin-right: 30px;
      font-size: 11px;

      &:first-child {
        margin-left: 15px;
      }

      &:before {
        position: absolute;
        left: -13px;
        top: 25%;
        content: '';
        width: 9px;
        height: 7px;
        background: url('/Check.svg');
      }
    }
  }


}